{% load martortags %}
{% load strip_links %}
{% load django_htmx %}
{% if not request.htmx %}
    <!-- Заголовок будет отображаться только при первой загрузке страницы -->
    {% if request.GET.q %}
        <h5 class="text-center">Результаты поиска по запросу: "{{ request.GET.q }}"</h5>
    {% endif %}
{% endif %}
{% for article in articles %}
    {% if forloop.last %}
        <div class="col-md-12 mb-5" hx-trigger="intersect once" hx-get="
                 {% if current_category %}
                    {% url 'blog:category_articles' slug=current_category %}?page={{ articles.number|add:1 }}
                 {% else %}
                    {% url 'blog:index' %}{% if request.GET.q %}?q={{ request.GET.q }}{% endif %}?page={{ articles.number|add:1 }}
                 {% endif %}" hx-swap="afterend">
    {% else %}
        <div class="col-md-12 mb-5">
    {% endif %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0"
            style="flex: 1 1 auto; white-space: normal; word-break: break-word;">{{ article.title }}</h5>
        {#                    <h5 class="mb-0 text-truncate" style="max-width: 70%;">{{ article.title }}</h5>#}
        <span class="fw-bold text-end"><i class="fa-solid fa-layer-group"></i> <a href="{% url 'blog:category_articles' slug=article.category.slug %}"
                           class="text-decoration-none text-reset">
                            {{ article.category.title|capfirst }}
                        </a></span>
    </div>
    <div class="bg-image hover-overlay ripple mx-auto rounded-0" data-mdb-ripple-init
         data-mdb-ripple-color="light">
        <img src="{{ article.cover.url }}" class="img-fluid" alt="{{ article.title }}"/>
        <a href="{{ article.get_absolute_url }}">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <div class="card-body">

        <p class="card-text">{{ article.content|truncatewords:20|safe_markdown|strip_links }}</p>
        <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Читать</a>
    </div>
    <div class="card-footer text-muted">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex align-items-center">
                <span class="me-2"><i class="fa-solid fa-user"></i></span> <span
                    class="me-3">{{ article.author }}</span>
                <span class="me-2"><i class="fa-solid fa-calendar"></i></span>
                <span>{{ article.created_at|date:"d M Y" }}</span>
            </div>
            <div class="flex-grow-1 text-center">
                            <span class="me-3"><i
                                    class="fa-solid fa-thumbs-up"></i> {{ article.votes.likes.count }}</span>
                <span class="me-3"><i
                        class="fa-solid fa-thumbs-down"></i> {{ article.votes.dislikes.count }}</span>
                <span class="me-3"><i class="fa-solid fa-comment"></i> {{ article.comments.count }}</span>
                <span class="me-3"><i class="fa-solid fa-eye"></i> {{ article.views }}</span>
            </div>
            <div class="text-end">

                {% for tag in article.tags.all %}
                    <span class="badge bg-primary">#{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
