{% extends 'base.html' %}
{% load martortags %}
{% load strip_links %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

    <div class="col-md-12 mb-5">
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0"
                    style="flex: 1 1 auto; white-space: normal; word-break: break-word;">{{ article.title }}</h5>
                {#                    <h5 class="mb-0 text-truncate" style="max-width: 70%;">{{ article.title }}</h5>#}
                <span class="fw-bold text-end"><i class="fa-solid fa-layer-group"></i> {{ article.category }}</span>
            </div>
            <div class="bg-image mx-auto rounded-0">
                <img src="{{ article.cover.url }}" class="img-fluid" alt="{{ article.title }}"/>

            </div>
            <div class="card-body">

                <div class="card-text">{{ article.content|safe_markdown }}</div>

            </div>
            <div class="card-footer text-muted">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="d-flex align-items-center">
                        <span class="me-2"><i class="fa-solid fa-user"></i></span> <span
                            class="me-3">{{ article.author }}</span>
                        <span class="me-2"><i class="fa-solid fa-calendar"></i></span>
                        <span>{{ article.created_at|date:"d M Y" }}</span>
                    </div>
                    <div class="flex-grow-1 text-center">
                            <span class="me-3"><i
                                    class="fa-solid fa-thumbs-up"></i> {{ article.votes.likes.count }}</span>
                        <span class="me-3"><i
                                class="fa-solid fa-thumbs-down"></i> {{ article.votes.dislikes.count }}</span>
                        <span class="me-3"><i class="fa-solid fa-comment"></i> {{ article.comments.count }}</span>
                        <span class="me-3"><i class="fa-solid fa-eye"></i> {{ article.views }}</span>
                    </div>
                    <div class="text-end">

                        {% for tag in article.tags.all %}
                            <span class="badge bg-primary">#{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="flex-grow-1 text-center">
                        <!-- Текст "Оцените статью" -->
                        <p class="mb-3">Оцените статью</p>

                        <!-- Кнопки лайков и дизлайков -->
                        <div class="d-flex justify-content-center gap-4">
                            <!-- gap-4 добавляет расстояние между кнопками -->
                            <button class="btn {% if user_vote == 1 %}btn-success{% else %}btn-outline-success{% endif %} vote-btn"
                                    data-action="like"
                                    data-article="{{ article.id }}">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span id="like-count">{{ article.votes.likes.count }}</span>
                            </button>

                            <button class="btn {% if user_vote == -1 %}btn-danger{% else %}btn-outline-danger{% endif %} vote-btn"
                                    data-action="dislike"
                                    data-article="{{ article.id }}">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span id="dislike-count">{{ article.votes.dislikes.count }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card mb-3" id="formComment">
            <div class="card-body">
                {% if request.user.is_authenticated %}
                    <form class="mb-4" id="comment-form" method="post" data-article-id="{{ article.id }}">
                        {% csrf_token %}
                        {#                        <input type="hidden" name="parent" id="contactparent" value="">#}
                        <textarea name="text" class="form-control" placeholder="Напишите комментарий..."
                                  id="contactcomment"></textarea>
                        <button type="submit" class="btn btn-primary mt-2">Отправить</button>
                    </form>
                {% else %}
                    <div class="text-center">
                        <span>Чтобы оставлять комментарии, вам нужно зарегистрироваться или войти</span>
                    </div>
                {% endif %}
                <hr class="hr">

                <!-- Комментарии -->
                <div id="comments">
                    {% for comment in article.get_comments %}
                        <div class="d-flex align-items-start mb-4">
                            <div class="rounded-circle overflow-hidden" style="width: 50px; height: 50px;">
                                <img src="{{ comment.author.profile.avatar.url }}" class="img-fluid"
                                     alt="{{ comment.author.username }}">
                            </div>
                            <div class="ms-3 flex-grow-1">
                                <div class="d-flex align-items-center mb-1">
                                    <span class="badge badge-secondary fw-bold mb-0 me-2">{{ comment.author }}</span>
                                    <p class="text-muted mb-0" style="font-size: 0.85rem;">
                                        <i class="fa-solid fa-calendar"></i> {{ comment.created_at|date:"d M Y H:i" }}
                                    </p>
                                </div>
                                <p class="mb-0">{{ comment.text }}</p>
                                <button class="btn btn-sm btn-link text-muted mb-3"
                                        data-comment-id="{{ comment.id }}"
                                        onclick="showReplyForm({{ comment.id }})">Ответить
                                </button>


                                <!-- Форма ответа (скрытая) -->
                                <div id="reply-form-{{ comment.id }}" class="d-none">
                    <textarea id="reply-text-{{ comment.id }}" class="form-control mt-2"
                              placeholder="Ответить..."></textarea>
                                    <button class="btn btn-primary btn-sm mt-1 mb-3"
                                            data-comment-id="{{ comment.id }}" data-article-id="{{ article.id }}"
                                            onclick="submitReply(this)">Отправить
                                    </button>
                                </div>

                                <!-- Здесь будут появляться ответы -->
                                <div id="replies-{{ comment.id }}" class="ms-5">
                                    {% for reply in comment.children.all %}
                                        <div class="d-flex align-items-start mb-2 mt-2">
                                            <div class="rounded-circle overflow-hidden"
                                                 style="width: 40px; height: 40px;">
                                                <img src="{{ reply.author.profile.avatar.url }}" class="img-fluid"
                                                     alt="{{ reply.author.username }}">
                                            </div>
                                            <div class="ms-3 flex-grow-1">
                                                <div class="d-flex align-items-center mb-1">
                                                    <span class="badge badge-secondary fw-bold mb-0 me-2">{{ reply.author }}</span>
                                                    <p class="text-muted mb-0" style="font-size: 0.85rem;">
                                                        <i class="fa-solid fa-calendar"></i> {{ reply.created_at|date:"d M Y H:i" }}
                                                    </p>
                                                </div>
                                                <p class="mb-0">{{ reply.text }}</p>
                                                <button class="btn btn-sm btn-link text-muted"
                                                        data-comment-id="{{ comment.id }}"
                                                        onclick="showReplyForm({{ comment.id }})">Ответить
                                                </button>
                                                <div id="reply-form-{{ reply.id }}" class="d-none">
                                                    <textarea id="reply-text-{{ reply.id }}" class="form-control mt-2"
                                                              placeholder="Ответить..."></textarea>
                                                    <button class="btn btn-primary btn-sm mt-1"
                                                            data-comment-id="{{ reply.id }}"
                                                            data-article-id="{{ article.id }}"
                                                            onclick="submitReply(this)">Отправить
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr class="hr">
                    {% empty %}
                        <p class="text-muted">Комментариев пока нет. Будьте первым!</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    {#    <script>#}
    {#        function addCommentReply(name, id) {#}
    {#            document.getElementById("contactparent").value = id;#}
    {#            document.getElementById("contactcomment").innerText = `${name}, `#}
    {#        }#}
    {#    </script>#}
{% endblock %}