{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой блог{% endblock %}</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/flat-ui.css' %}">
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>

</head>
<body>

<!-- Шапка -->
<div class="container">
    <nav class="navbar sticky-top navbar-lg navbar-inverse navbar-expand-lg" role="navigation">
        <a class="navbar-brand" href="#">Flat UI</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse"
                data-target="#navbar-collapse-01"></button>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav mr-auto">
                <li class="active"><a href="#fakelink">Products</a></li>
                <li><a href="#fakelink">Features</a></li>
            </ul>
            <form class="navbar-form form-inline my-2 my-lg-0" action="#" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                        <span class="input-group-btn">
                <button type="submit" class="btn"><span class="fui-search"></span></button>
              </span>
                    </div>
                </div>
            </form>
        </div>
    </nav><!-- /navbar -->
</div>

<div class="container mt-4">
    <div class="row">
        <!-- Левая колонка (Сайдбар) -->
        <aside class="col-md-3 sidebar">
            <h5>Популярные статьи</h5>
            <ul class="list-unstyled">
                {#                    {% for article in popular_articles %}#}
                {#                        <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>#}
                {#                    {% endfor %}#}
            </ul>
            <h5>Популярные комментарии</h5>
            <ul class="list-unstyled">
                {#                    {% for comment in popular_comments %}#}
                {#                        <li>{{ comment.user }}: "{{ comment.text|truncatewords:10 }}"</li>#}
                {#                    {% endfor %}#}
            </ul>
            <h5>Теги</h5>
            <div>
                {#                    {% for tag in tags %}#}
                {#                        <a href="{% url 'tag_view' tag.slug %}" class="badge bg-secondary">{{ tag.name }}</a>#}
                {#                    {% endfor %}#}
            </div>
        </aside>

        <!-- Основной контент -->
        <main class="col-md-9">
            {% block body %}
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            {% endblock body %}
            {% block extra_body %}
            {% endblock extra_body %}
        </main>
    </div>
</div>

<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script>
    $('.martor-preview pre').each(function (i, block) {
        hljs.highlightBlock(block);
    });
</script>

<!-- Футер -->
<div class="footer-wrapper mt-4">
    <footer class="footer">
        <div class="container text-center">
            <p>&copy; 2025 Мой блог. Все права защищены.</p>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
